.message-wrapper{
    display: flex;
}

.message-wrapper.fromMe{
    justify-content: flex-end;
}

.message-wrapper:last-child{
    margin-bottom: 35px;
}

.message{
    color: white;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--message-bg);
    max-width: 50%;
}

.message.fromMe{
    background-color: var(--fromMe-message-bg);
}